version: '3.8'

services:
  mongo:
    image: mongo:7
    container_name: nest-mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongo
      MONGO_INITDB_ROOT_PASSWORD: mongo
      MONGO_INITDB_DATABASE: orders_db
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: nest-redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  mongo_data:
